@use './variables' as *;

.dark-yellow-bg {
    background-color: $dark-yellow;
}

.dark-blue-bg {
    background-color: $dark-blue;
}

.dark-blue-font {
    color: $dark-blue;
}

.dark-yellow-font {
    color: $dark-yellow;
}